<!doctype html>
/[if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/[if IE 7] <html class="no-js ie7 oldie" lang="en">
/[if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title 
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %link{:href => "/css/text.css", :rel => "stylesheet"}
    %link{:href => "/css/reset.css", :rel => "stylesheet"}
    %link{:href => "/css/960.css", :rel => "stylesheet"}
    %link{:href => "/css/basestyle.css", :rel => "stylesheet"}
    %link{:href => "/css/fonts.css", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :rel => "stylesheet"}
        %script{:src => "/js/libs/modernizr-2.0.6.min.js"}
  %body{:id=>@a}
    
    %p Copyright
    
    / ! end of #container
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}

    
    :javascript
      window.jQuery || document.write('<\/script>')
       // Change UA-XXXXX-X to be your site's ID
        window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
          load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
        });
